// Variables
$primary-color: #4361ee;
$secondary-color: #3f37c9;
$light-color: #f8f9fa;
$dark-color: #212529;
$success-color: #4cc9f0;
$danger-color: #f72585;

.homepage {
    font-family: $font-family;
    color: $dark-color;
    line-height: 1.6;
    min-height: 100vh;
    background-color: #f5f7ff;
    padding: 0 42px;


    .dashboard-top-card {
        padding: 50px 10;
            max-width: 100%;



        .card {
            height: 100%;

            .card-body {
                font-family: $font-family;
            }
        }
    }

    .badge {
        &.bg-light-primary {
            background: #e8f4ff;
            color: #1890ff;
        }

        &.bg-light-success {
            background: #eef9e8;
            color: #52c41a;
        }

        &.bg-light-warning {
            background: #fff7e8;
            color: #faad14;
        }

        &.bg-light-danger {
            background: #ffeded;
            color: #ff4d4f;
        }

    }

    .visitor-graph-container {
        padding: 60px 0;

        h5 {
            color: #343a40;
            font-family: $font-family;
        }

        .incoming-overview {
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            .card {
                height: 90%;
            }
        }
    }

    .table-container {
        padding-bottom: 60px;

        h5 {
            color: #343a40;
            font-family: $font-family;
        }

        .table-container-inner {


            table {
                tr {
                    &:hover {
                        background-color: rgba(24, 144, 255, 0.03);
                    }

                    th {
                        font-family: $font-family;
                        font-weight: 500;
                        padding: 0.9rem 0.75rem;
                        font-size: 14px;
                    }

                    td {
                        font-family: $font-family;
                        font-weight: 400;
                        color: #212529bf;
                        padding: 0.9rem 0.75rem;
                        font-size: 14px;

                        a {
                            color: #212529bf;
                            text-decoration: none;
                        }
                    }
                }
            }
        }

        .analytics-report-card {
            height: 100%;

            .card {
                height: 94%;
            }
        }
    }

    .salery-report-and-transition-history {
        padding-bottom: 100px;
        font-family: $font-family;

        h5 {
            color: #343a40;
            font-family: $font-family;
        }

        .transition-history-sec {

            .avtar.avtar-s {
                width: 40px;
                height: 40px;
                font-size: 14px;
                display: inline-flex;
                align-items: center;
                justify-content: center;

                &.bg-light-success {
                    background: #eef9e8;
                    color: #52c41a;
                }

                &.bg-light-primary {
                    background: #e8f4ff;
                    color: #1890ff;
                }

                &.bg-light-danger {
                    background: #ffeded;
                    color: #ff4d4f;
                }
            }

        }
    }

}

@media (max-width:768px) {
    .homepage {
        padding: 0 15px;
    }
}


.centered-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh; /* Full viewport height */
  padding: 20px;
  box-sizing: border-box;
}

.dashboard-top-card {
  width: 100%;
  max-width: 500px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.1);
  text-align: center;
  padding: 2rem;
  gap: 1rem;
}
.send-otp-button {
  background: #168c7e;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 50px;

  span{
     border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    animation: spin 1s linear infinite;
     margin: auto; 
     display: block;
  }
   
}

@keyframes spin {
      0%   { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
/* LoginWithOTP.module.css */

.card-bg-container {
  background-color: #f8f9fa;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.card-inner-content {
  background-color: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  max-width: 400px;
  width: 100%;
}

.module-card-header {
  text-align: left; /* Ensure parent doesn't enforce center */
}

.module-card-header h2 {
    color: #26282b;
  font-size: 1.75rem;
  margin-bottom: 0.5rem;
  text-align: left; /* Explicitly set */
}

.module-card-header h3 {
  color: #574e4e;
   font-size: 1.2rem;
  margin-bottom: 2rem;
  text-align: left; /* Explicitly set */
}

.login-form .country-code-select-with-number {
  margin-bottom: 1rem;
  border-radius: 50px;
}
.login-form p {
  color: #6c757d;
 
  margin-bottom: 1rem;
}
.otp-message{
     color: #6c757d;
 
  margin-bottom: 1rem;
}
.send-otp-button {
  background: #168c7e;
  color: white;
  border: none;
  padding: 0.75rem;
  width: 100%;
  font-weight: bold;
  border-radius: 8px;
  cursor: pointer;
  transition: background 0.3s ease;
  border-radius: 50px;
}

.send-otp-button:hover {
  opacity: 0.9;
}

.divider {
  position: relative;
  text-align: center;
  margin: 1.5rem 0;
}

.divider span {
  background-color: #fff;
  padding: 0 1rem;
  color: #6c757d;
  font-size: 0.9rem;
}

.signup-link {
  text-align: center;
  font-size: 0.95rem;
}

.signup-link a {
  color: #667eea;
  text-decoration: none;
  font-weight: bold;
}

.signup-link a:hover {
  text-decoration: underline;
}
.modalHeader {
  background-color: #ffffff;
  color: #574e4e;
}

.modalHeader h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: bold;
}

.modalBody {
  padding: 2rem;
}

.otpTitle {
  font-size: 1.25rem;
  margin-bottom: 1rem;
  text-align: left;
}
.otpTitle strong{
    color: #556cd6;
}
.otpDescription {
  font-size: 0.95rem;
  color: #6c757d;
  text-align: left;
  margin-bottom: 1.5rem;
}

.otpInputContainer {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 1.5rem;
}

.otpInput {
  width: 60px;
  height: 50px;
  font-size: 1.25rem;
  text-align: center;
  border-radius: 15px;
  border: 1px solid #696c6f;
  transition: border-color 0.3s ease;
}

.otpInput:focus {
  border-color: #667eea;
  outline: none;
  box-shadow: 0 0 0 3px rgba(102, 126, 234, 0.25);
}

.resendText {
  text-align: left;
  font-size: 0.9rem;
  color: #6c757d;
  margin-top: 0.2rem;
  margin-bottom: 0.7rem;
}

.resendLink {
  color: #667eea;
  cursor: pointer;
  text-decoration: underline;
}

.resendLink:hover {
  color: #556cd6;
}


.backButton {
  background-color: #e9ecef;
  color: #343a40;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 8px;
}

.backButton:hover {
  background-color: #dde0e5;
}

.continueButton {
  background: linear-gradient(90deg, #667eea, #764ba2);
  color: white;
  border: none;
  padding: 0.6rem 1.2rem;
  font-weight: 600;
  border-radius: 8px;
}

.continueButton:hover {
  opacity: 0.9;
}